body {
  background-image: url("../img/cork.png");
}

header {
  background-image: url("../img/wall.png");
}

header h1 {
  color: black;
  font-family: "Edu Tas Beginner", sans-serif;
  font-size: 8rem;
  font-weight: 700;
}

main {
  font-family: "Edu Tas Beginner", sans-serif;
}


#overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}


.card {
  cursor: pointer;
}

.card:hover {
  transform: rotate(10deg);
  transition-duration: 0.25s;
  scale: 1.1;
}